<!-- DEPRECIATED
	Generic Search Bar
	Not for use with Quick Grid Entity.
param: List of generic entities-->
@typeparam TEntity // Generic type parameter

<!-- Search Bar -->
<input class="form-control" style="max-width:600px"
	   @bind="searchItem"/>

<!-- Search Button -->
<button class="btn btn-primary" 
	@onclick="OnSearchClicked">
	Search
</button>

@code {
	[Parameter]
	public IQueryable<TEntity> Items { get; set; }

	[Parameter]
	public EventCallback<string> OnSearch { get; set; } //When user clicks search

	private string searchItem; //String of what is being search

	private async Task OnSearchClicked()
	{
		await OnSearch.InvokeAsync(searchItem);
	}
}
